body {
    font-family: roboto, sans-serif;
}

.navbar {
    background-color: #1837a6;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #1837a6;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff6fe;
}

.section-title {
    font-family: Pacifico, Cursive;
}

#about,
#pricing {
    background-color: #fff6fe;
}

.text-colored {
    color: #1837a6
}

.nav-cardapio .nav-link.active,
#contact button {
    background-color: #1837a6;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #1837a6
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}